.about-text{
    position:relative;
    text-align: left;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:5%;
    font-family: Raleway, 'sans-serif';
}

.about-title{
    position:relative;
    margin-top:8%;
    text-align: left;
    margin-left:15%;
    margin-right:15%;
    font-family: Raleway, 'sans-serif';
}

@media screen and (max-width: 940px){
    .about-title{
        margin-top:20%;
    }

    .about-text{
        font-size:20px;
        margin-bottom:25%;
    }
}