.cookie-text{
    position:relative;
    text-align: left;
    margin-left:15%;
    margin-right:15%;   
    margin-bottom:5%;
}

.cookie-title{
    position:relative;
    margin-top:8%;
    text-align: left;
    margin-left:15%;
    margin-right:15%;
}