.cookie-text{
    position:relative;
    text-align: left;
    margin-left:15%;
    margin-right:15%;   
    margin-bottom:5%;
    font-family: Raleway, 'sans-serif';
}

.cookie-title{
    font-family: Raleway, 'sans-serif';
    position:relative;
    margin-top:8%;
    text-align: left;
    margin-left:15%;
    margin-right:15%;
}


@media screen and (max-width: 940px){
    .cookie-title{
        margin-top:20%;
    }

    .cookie-text{
        font-size:20px;
        margin-bottom:25%;
    }
}
