body{
    font-family: Raleway, 'sans-serif';
}

.filter-container{
    /* background-color: #cccccc; */
    position: relative;
    padding: 0px 75px;
    top: 75px;
    border-bottom: 2px solid #cccccc;
}

.filter-container li, .filter-container li{
    display: inline-block;
    position: relative;
    padding: 20px 10px;
}

.filter-container .genre-menu-item,
.filter-container .collection-menu-item{
    font-family: Raleway, 'sans-serif';
    padding: 2px 8px;
    text-decoration: none;
    color: black;
}

.filter-container .genre-menu-span,
.filter-container .collection-menu-span{
    font-family: Raleway, 'sans-serif';
    padding: 2px 8px;
    text-decoration: none;
    color: black;
}

.filter-container .genre-menu-item:hover,
.filter-container .collection-menu-item:hover{
    background-color: #bf8040;
    border-radius: 3px;
    padding: 2px 8px;
}

.filter-container .genre-menu-item:active,
.filter-container .collection-menu-item:active{
    color: #bf8040;
    background-color: white;
    padding: 2px 8px;
}

.genre-menu, .collection-menu{
    margin: 0;
}

#on-sale.collection-menu-item {
    color: #ff3333;
}

.form-search{
    padding: 25px;
    position: relative;
}

.form-search .search-input{
    font-family: Raleway, 'sans-serif';
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-style: italic;
    /* box-shadow: 2px 2px #261a0d; */
    width: 350px;
}

.form-search .search-img{
    width: 25px;
    padding: 0px 25px 0px 40px;
    position: relative;
    top: 7px;
}

.form-search h3{
    font-family: Raleway, 'sans-serif';
    float: right;
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

button{
    padding: 5px;
    background-color: #d9d9d9;
    border: 1px solid #cccccc;
    font-family: Raleway, 'sans-serif';
    font-size: 15px;
    width: 5%;
    border-radius: 3px;
}

button:hover{
    background-color: #cc9966;
}

@media screen and (max-width: 940px){
    .genre-menu-item, .collection-menu-item{
        display: block;
    }

    .form-search, .genre-menu-item, .collection-menu-item, .collection-menu-span, .genre-menu{
        font-size: 13px;
    }
    .form-search h3, .filter-container .search-img{
        display: none;
    }
    .filter-container .search-input{
        width: 100%;
    }

    .filter-container{
        /* background-color: #cccccc; */
        position: relative;
        padding: 0px 0px;
        top: 75px;
        border-bottom: 2px solid #cccccc;
    }

    .filter-container li, .filter-container li{
        display: inline-block;
        position: relative;
        padding: 2px 2px;
    }
}