body{
    background-color: #ffffff;
    font-family: Raleway, 'sans-serif';
    text-decoration: none;
    color: black;
}

.form-search{
    padding: 25px;
    position: relative;
}

.form-search .search-input{
    font-family: Raleway, 'sans-serif';
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-style: italic;
    box-shadow: 2px 2px #261a0d;
    width: 350px;
}

.form-search .search-img{
    width: 25px;
    padding: 0px 25px 0px 40px;
    position: relative;
    top: 7px;
}

.form-search h3{
    font-family: Raleway, 'sans-serif';
    float: right;
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

.content-container{
    background-color: #f2f2f2;
    z-index: 900;
    position: relative;
    top: 73px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 10px 50px;
}

.record-container{
    float: right;
    background-color: white;
    z-index: 901;
    position: relative;
    display: block;
    margin: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.content-item{
    display: inline-block;
    padding: 20px;
    position: relative;
    left: 30px;
    top: 20px;
    width: 20%;
}

.content-item .content-img{
    width: 125px;
    border-radius: 50%;
    position: relative;
    left: 30px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}    

.content-item .content-img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.content-item .content-info{
    position: relative;
    display: block;
    bottom: 10%;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    float: left;
}

.content-item .content-info:hover{
    text-decoration: underline;
    color: #cc9966;
}

.content-item .content-info:active{
    text-decoration: none;
    color: #261a0d;
}

.content-container li{
    display: inline-block;
}

.content-container ul{
    margin: 0;
}

.pagination{
    position: relative;
    bottom: 60px;
    float: right;
    letter-spacing: 5px;
    z-index: 991;
    padding: 50px;
    text-align: center;
}

.pagination a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.pagination a:hover{
    color: #cc9966;
    border-radius: 5px;
}

.pagination a:active{
    color: black;
    
}

.right-arrow{
    position: relative;
    width: 75px;
    float: right;
    margin: 0px;
    bottom: 400px;
    right: -340px;
}

.left-arrow{
    position: relative;
    width: 75px;
    float: left;
    margin: 0px;
    bottom: 400px;
    left: -50px;
}

@media screen and (max-width: 940px){

    .record-container{
        float: right;
        background-color: white;
        z-index: 901;
        position: relative;
        display: inline-block;
        margin: 0px;
        border: 0px solid #cccccc;
        border-radius: 10px;
    }

    .content-item{
        position: relative;
        display: inline-block;
    }

    .content-item{
        position: relative;
        display: inline-block;
        left: 17%;
        width:70%;
    }    

    .right-arrow, .left-arrow{
        display:none;
    }
    
    .pagination{
        position: relative;
        bottom: 40px;
        margin-right:5%;
    }
    
    .content-container{
        padding: 10px 30px;
    }


}