body{
    background-color: #ffffff;
    font-family: Raleway, 'sans-serif';
    text-decoration: none;
    color: black;
}

.filter-container{
    /* background-color: #cccccc; */
    position: relative;
    padding: 0px 75px;
    top: 75px;
    border-bottom: 2px solid #cccccc;
}

.filter-container li, .filter-container li{
    display: inline-block;
    position: relative;
    padding: 20px 10px;
}

.filter-container .genre-menu-item,
.filter-container .collection-menu-item{
    font-family: Raleway, 'sans-serif';
    padding: 2px 8px;
    text-decoration: none;
    color: black;
}

.filter-container .genre-menu-span,
.filter-container .collection-menu-span{
    font-family: Raleway, 'sans-serif';
    padding: 2px 8px;
    text-decoration: none;
    color: black;
}

.filter-container .genre-menu-item:hover,
.filter-container .collection-menu-item:hover{
    background-color: #bf8040;
    border-radius: 3px;
    padding: 2px 8px;
}

.filter-container .genre-menu-item:active,
.filter-container .collection-menu-item:active{
    color: #bf8040;
    background-color: white;
    padding: 2px 8px;
}

.genre-menu, .collection-menu{
    margin: 0;
}

#on-sale.collection-menu-item {
    color: #ff3333;
}

.form-search{
    padding: 25px;
    position: relative;
}

.form-search .search-input{
    font-family: Raleway, 'sans-serif';
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-style: italic;
    box-shadow: 2px 2px #261a0d;
    width: 350px;
}

.form-search .search-img{
    width: 25px;
    padding: 0px 25px 0px 40px;
    position: relative;
    top: 7px;
}

.form-search h3{
    font-family: Raleway, 'sans-serif';
    float: right;
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

.record-container{
    background-color: #f2f2f2;
    z-index: 900;
    position: relative;
    top: 73px;
    margin: 0;
    overflow: hidden;
    padding: 10px 50px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #cccccc;
}

.img-magnifier-container img{
    height: 450px;
    border: 2px solid #cccccc;
    border-radius: 50%;
}

.img-magnifier-container img:hover{
    cursor: none;
}

.img-magnifier-glass{
    position: absolute;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
    display: auto;
}

.record-info{
    display: inline-block;
    position: relative;
    padding: 10px 50px;
    left: 33%;
    font-size: 20px;
    bottom: 440px;
    letter-spacing: 2px;
}

.info{
    padding: 15px 8px;
}

.genre-name{
    text-decoration: none;
    color:black;
    padding: 10px 8px;
}

.genre-name:hover{
    background-color: #bf8040;
    border-radius: 5px;
}

.genre-name:active{
    background-color: #f2f2f2;
}

#artist-name:before{
    content: "Artist: ";
    font-size: 20px;

}

#album-name:before{
    content: "Album: ";
    font-size: 20px;
}

#label-name:before{
    content: "Label: ";
    font-size: 20px;
}

#price-tag:before{
    content: "Price: ";
    font-size: 20px;
}

.checkout-container{
    padding: 50px 10px;
}

.checkout-btn{
    position: relative;
    bottom: 425px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px;
    font-size: 15px;
    /* float: right;
    right: 675px; */
    left: 26%;
    padding: 10px;
    background-color: #cccccc;
}

#wishlist-btn{
    left: 47%;
}

.checkout-btn img{
    width: 20px;
    float: right;
    padding: 0px 4px;
}

.checkout-btn:hover{
    background-color: #bf8040;
}

.checkout-btn:active{
    background-color: #cccccc;
    border: none;
}

.audio-container audio{
    border: 2px solid #cccccc;
    border-radius: 10px;
    display: block;
    bottom: 420px;
    position: relative;
    left: 37%;
    box-shadow: 2px 2px #261a0d;
}