body{
    background-color: #ffffff;
    font-family: Raleway, 'sans-serif';
    text-decoration: none;
    color: black;
    overflow-x: hidden;
}

.record-container{
    background-color: #f2f2f2;
    z-index: 900;
    position: relative;
    top: 73px;
    margin: 0;
    overflow: hidden;
    padding: 10px 50px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #cccccc;
}

.img-magnifier-container img{
    height: 450px;
    border: 2px solid #cccccc;
    border-radius: 50%;
}

.img-magnifier-container img:hover{
    cursor: none;
}

.img-magnifier-glass{
    position: absolute;
    border: 1px solid #cccccc;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
    display: auto;
}

.record-info{
    display: inline-block;
    position: relative;
    padding: 10px 50px;
    left: 33%;
    font-size: 20px;
    bottom: 440px;
    letter-spacing: 2px;
}

.info{
    padding: 15px 8px;
}

.genre-name{
    text-decoration: none;
    color:black;
    padding: 10px 8px;
}

.genre-name:hover{
    background-color: #bf8040;
    border-radius: 5px;
}

.genre-name:active{
    background-color: #f2f2f2;
}

#artist-name:before{
    content: "Artist: ";
    font-size: 20px;

}

#album-name:before{
    content: "Album: ";
    font-size: 20px;
}

#label-name:before{
    content: "Label: ";
    font-size: 20px;
}

#price-tag:before{
    content: "Price: ";
    font-size: 20px;
}

.checkout-container{
    padding: 50px 10px;
}

.checkout-btn{
    position: relative;
    bottom: 425px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px;
    font-size: 15px;
    /* float: right;
    right: 675px; */
    left: 26%;
    padding: 10px;
    background-color: #cccccc;
}

#wishlist-btn{
    left: 47%;
}

.checkout-btn img{
    width: 20px;
    float: right;
    padding: 0px 4px;
}

.checkout-btn:hover{
    background-color: #bf8040;
}

.checkout-btn:active{
    background-color: #cccccc;
    border: none;
}

.audio-container audio{
    border: 2px solid #cccccc;
    border-radius: 10px;
    display: block;
    bottom: 420px;
    position: relative;
    left: 37%;
    box-shadow: 2px 2px #261a0d;
}

@media screen and (max-width: 1220px){
    /* .img-magnifier-container{
    } */
    #record-img{
       display: none;
    }
}