body{
    font-family: Raleway, 'sans-serif';
}

.cart-container{
    /* border: 2px solid black; */
    border-radius: 5px;
    position: relative;
    top: 25px;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 7%;
}

.cart-table{
    border-collapse: collapse;
    width: 100%;
}

.cart-table th, .cart-table td{
    text-align: left;
    padding: 10px;
}

.cart-table tr{
    border: 1px solid black;
}

.cart-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.cart-table td a{
    text-decoration: none;
    color: black;
}

.cart-table td a:hover{
    color: #bf8040;
}

.cart-table td a:active{
    color: black;
}

.checkout-container form{
    display: inline;
}

.checkout-container{
    padding: 50px 10px;
}

.checkout-btn{
    position: absolute;
    top: 80%;
    left: 80%;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    background-color: #cccccc;
}

.checkout-btn img{
    width: 20px;
    float: right;
    padding: 0px 4px;
}

.checkout-btn:hover{
    background-color: #bf8040;
}

.checkout-btn:active{
    background-color: #cccccc;
}

@media screen and (max-width: 940px){

    .cart-container{
    overflow-x:auto;
    }
}