body{
    margin: 0px;
}

.topnav{
    background-color: #f2f2f2;
    overflow: hidden;
    z-index: 999;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.topnav-menu{
    position: relative;
    right: 100px;
}

.topnav .topnav-logo{
    float: left;
    color: black;
    text-align: center;
    padding: 0px 8px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Raleway, 'sans-serif';
    position: relative;
    left: 100px;
}

.topnav .topnav-logo-img{
    float: left;
    padding: 15px 20px;
    width: 40px;
    position: relative;
}

.topnav .topnav-logo-btn{
    position: relative;
    top: 10px;
    display: inline-block;
    text-decoration: bold;
    /* padding: 10px 8px; */
}
.topnav .topnav-menu-item{
    float: right;
    color: black;
    text-align: center;
    padding: 10px 0px 10px 25px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Raleway, 'sans-serif';
}

.topnav .topnav-menu-btn{
    position: relative;
    top: 100%;
    display: inline-block;
    left: 25%;
}

.topnav .topnav-menu-img{
    float: right;
    padding: 15px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    right: 65%;
}

.topnav .topnav-menu-btn:hover, .topnav .topnav-logo-btn:hover{
    background-color: #a6a6a6;
    color: rgb(24, 23, 23);
    border-radius: 5px;
}

